################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/allegedvino.com/obj
/allegedvino.com/bin
